/*########## Reset all ##########*/

html, body, nav, div, header, footer, section,
ul, ol, li, a, p, span, b, img, button {
    margin: 0;
    padding: 0;
}


/*########## END ##########*/

/*########## Header ##########*/

header {
    position: fixed;
    width: 100%;
    box-shadow: 0 15px 50px -15px #666666;
    z-index: 100;
}

.header-wrapper {
    padding: 15px 0;
    background-color: #021379;
}

.header-container {
    padding: 15px 0;
    background-color: #1226AA;
}

.header-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 93.5%;
    padding: 15px;
    margin: 0 auto;
}

.header-logo {
    display: flex;
    position: relative;
    vertical-align: 0
}

.header-logo-divider {
    position: relative;
    border-right: 1px solid #2a67a0;
    margin: 0 5px 0;
    background: none;
}

.header-logo-block {
    margin: 0 5%;
}

.header-button {

}

.header-button-block {

}

/*########## END ##########*/

/*########## Button ##########*/

.button-donate {
    position: relative;
    text-align: justify;
    padding: 10px 30px;
    border-radius: 24px;
    outline: none;
    background-color: #528942;
    color: #000000;
}

.button-donate:focus {
    outline: none;
    border: none;
}

/*########## END ##########*/

/*########## Footer ##########*/

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    font-size: 13px;
    background-color: #fafafa;
}

.footer-image {
    display: inline-block;
    width: 30%;
}

.footer-image img {
    width: 100%;
}

.footer-links {
    width: 70%;
    text-align: right;
}

.footer-links span {
    margin-left: 15px;
    color: #585858;
}

.footer-links a {
    text-decoration: none;
    color: #585858;
}

/*########## END ##########*/

/*########## Main ##########*/

.main {
    padding-top: 170px;
    /*should be 165 px*/
}

.container-normal {
    width: 90%;
    max-width: 1200px;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid blue;
}

.container-large {
    width: 100%;
    margin: auto;
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
}

section {
    position: relative;
    width: 100%;
    margin: auto;
}

/*########## END ##########*/


/*#################### OPPORTUNITY ####################*/



/*########## opportunity-section-1 ##########*/

.opportunity-slider-1-slide img {
    width: 100%;
}


/*########## END ##########*/

/*########## opportunity-section-2 ##########*/

.opportunity-section-2-image, .opportunity-section-2-text,
.opportunity-section-4-image, .opportunity-section-4-text {
    flex: 0 0 50%;
    max-width: 50%;
}

.opportunity-section-2-image-first {
    background-image: url("../img/Opportunity/Section-2/first.jpg");
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.opportunity-section-2-image-second {
    background-image: url("../img/Opportunity/Section-2/second.jpg");
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

/*########## END ##########*/

/*########## opportunity-section-3 ##########*/


/*########## END ##########*/

/*########## opportunity-section-4 ##########*/

.opportunity-section-4-image-first {
    background-image: url("../img/Opportunity/Section-4/first.jpg");
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

/*########## END ##########*/

/*#################### END of OPPORTUNITY ####################*/


/*#################### CHILDRENSCENTERS ####################*/


/*########## childrenscenters-section-1 ##########*/

.childrenscenters-slider-1-slide img {
    width: 100%;
}

/*########## END ##########*/


/*########## childrenscenters-section-2 ##########*/


/*########## END ##########*/

/*########## childrenscenters-section-3 ##########*/

.childrenscenters-section-3-image, .childrenscenters-section-3-text {
    flex: 0 0 50%;
    max-width: 50%;
}

.childrenscenters-section-3-image-first {
    background-image: url("../img/ChildrensCenters/Section-3/first.jpeg");
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

/*########## END ##########*/

/*########## childrenscenters-section-4 ##########*/


.slider-item {
    position: relative;
}

.slider-item img {
    height: 100%;

}

/*########## END ##########*/

/*########## childrenscenters-section-5 ##########*/


/*########## END ##########*/

/*########## childrenscenters-section-6 ##########*/

.childrenscenters-section-6-image, .childrenscenters-section-6-text {
    flex: 0 0 50%;
    max-width: 50%;
}

.childrenscenters-section-6-image-first {
    background-image: url("../img/ChildrensCenters/Section-6/first.png");
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

/*########## END ##########*/

/*#################### END of CHILDRENSCENTERS ####################*/


/*#################### ARTSAKH ####################*/

/*########## artsakh-section-1 ##########*/

.artsakh-slider-1-slide img {
    width: 100%;
}

/*########## END ##########*/

/*########## artsakh-section-2 ##########*/


.artsakh-section-2-image, .artsakh-section-2-text {
    flex: 0 0 50%;
    max-width: 50%;
}

.artsakh-section-2-image-first {
    background-image: url("../img/Artsakh/Section-2/kids.jpg");
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

/*########## END ##########*/


/*########## artsakh-section-3 ##########*/

.container-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.artsakh-section-3-logo-block{
    margin: auto;
    text-align: center;
}

.artsakh-section-3-logo-block img{
    width: 100%;
}


/*########## END ##########*/

/*########## artsakh-section-4 ##########*/

.artsakh-section-4-blocks {
display: flex;
    flex-wrap: wrap;
}
.artsakh-section-4-blocks-inner{
    /*width: 33.33%;*/
    width: 31.33%;
    margin: auto 1%;
}
.artsakh-section-4-blocks-inner img,.artsakh-section-4-blocks-inner h2,.artsakh-section-4-blocks-inner span{
    width: 100%;
}

/*########## END ##########*/

/*########## artsakh-section-5 ##########*/

.artsakh-section-5-banner-section {
    background-image: url("../img/Artsakh/Section-5/bottomimage.inspect@1x.jpg");
    padding: 10% 20% 10% 20%;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

/*########## END ##########*/

/*########## artsakh-section-6 ##########*/


/*########## END ##########*/

/*#################### END of ARTSAKH ####################*/


/*#################### WE ####################*/

/*########## we-section-1 ##########*/


.we-banner-swiper {
    width: 100%;
}

.we-bnner-swiper-slide {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.we-banner-swiper-pagination-bullet {
    display: inline-block;
    border-radius: 100%;
    margin: 0 4px;
    width: 12px;
    height: 12px;
    background-image: url("../img/WE/small_details/Slider_1_Oval(pagination-inactive).png");
    background-size: cover;
    background-repeat: no-repeat;
}

.we-banner-swiper-pagination-bullet-active {
    background-image: url("../img/WE/small_details/Slider_1_Oval(pagination-active).png");
}

.we-banner-swiper-img, .we-banner-swiper-img-2 {
    width: 100%;
    padding-top: 32%;
    background-size: cover;
    background-repeat: no-repeat;
}

.we-banner-swiper-img {
    background-image: url("../img/WE/Section-1/first.png");
}

.we-banner-swiper-img-2 {
    background-image: url("../img/WE/Section-1/second.jpg");
}



.we-banner-swiper-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: right;
}

.we-banner-swiper-text span {
    color: #1D998C;
}

.we-banner-text {
    font-family: 'TruenoRg', sans-serif;
}


/*########## END ##########*/

/*########## we-section-2 ##########*/


/*########## END ##########*/

/*########## we-section-3 ##########*/


/*########## END ##########*/

/*########## we-section-4 ##########*/


/*########## END ##########*/

/*########## we-section-5 ##########*/


/*########## END ##########*/

/*########## we-section-6 ##########*/


/*########## END ##########*/

/*########## we-section-7 ##########*/


/*########## END ##########*/


/*#################### END of WE ####################*/



/*########## Medias ##########*/

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

    /*########## Header ##########*/
    .hidable-992 {
        display: none;
    }

    .header-container {
        padding: 0;
    }

    .header-container-inner {
        padding: 12px;
    }

    .button-donate {
        padding: 10px 20px;
    }

    /*########## END ##########*/
    /*########## Footer ##########*/
    .footer-container {
        display: block;
    }

    .footer-image {
        width: 100%;
        margin: 3% auto;
        text-align: center;
    }

    .footer-links {
        width: 100%;
        text-align: center;
    }

    /*########## END ##########*/
    /*########## Main ##########*/
    .main {
        padding-top: 105px;
        /*should be 100 px*/
    }

    /*########## END ##########*/


}

@media only screen and (max-width: 768px) {

    /*########## Header ##########*/
    .hidable-768 {
        display: none;
    }

    /*########## END ##########*/

}

@media only screen and (max-width: 576px) {


    /*########## Footer ##########*/
    .footer-links {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-links span {
        width: 100%;
        margin: 5% 0;
    }

    /*########## END ##########*/
}

/*########## END ##########*/